default:
    suites:
        default:
            contexts:
                - Test\DevHelm\Control\Behat\DemoContext
                - Test\DevHelm\Control\Behat\GeneralContext
                - Test\DevHelm\Control\Behat\UserContext
                - Test\DevHelm\Control\Behat\TeamContext
                - Test\DevHelm\Control\Behat\AgentContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                path: src/Kernel.php
                class: DevHelm\Control\Kernel
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
